.container {
    width: 815px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    border: 1px solid black;
    padding: 0 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

header h2 {
    width: 50%;
}

.nav {
    width: 50%;
    font-size: 19px;
    font-weight: normal;
    text-align: right;
}

.signIn {
    margin-right: 5px;
}

.login {
    margin-left: 5px;
}

.artists,
.albums {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.artist,
.album {
    width: 20%;
    border: 1px solid black;
    min-height: 200px;
    text-align: center;
    padding: 10px 10px;
    margin-bottom: 10px;
}

.artistImage,
.albumImage {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.artistName,
.albumName {
    display: inline-block;
    cursor: pointer;
}

.albumYear {
    width: 80px;
    margin: 0 0 0 auto;
    color: grey;
}

.albumImageForTracks {
    width: 150px;
    height: 150px;
    margin-bottom: 30px;
}

.track {
    border: 1px solid black;
    display: flex;
    align-items: center;
    max-width: 500px;
    margin: 10px;
    justify-content: space-evenly;
}

.trackNumber {
    width: 20%;
    text-align: center;
}

.trackInfo {
    width: 60%;
}

.player {
    cursor: pointer;
    text-align: center;
    width: 20%;
}

.registration {
    margin-top: 50px;
}

.registration p {
    text-align: right;
    text-decoration: underline;
    color: #0000FF;
    cursor: pointer;
}

.userName,
.password {
    display: block;
    width: 400px;
    margin: 20px auto;
}

.regButton {
    display: block;
    margin: 10px auto;
}

.error {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: red;
}

.trackHistory {
    margin-right: 20px;
}

.history {
    margin: 0 auto;
    border-bottom: 1px solid black;
}

.history p {
    margin: 0 0 10px 0;
}